.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:#000
}
.profile{
    position: relative;
    width: 300px;
    height: 350px;
    background-image: url('https://lh3.googleusercontent.com/pw/AP1GczPvZksFUpQelLw-QQklzSleoThXdnI1fiypE2oZxRZQGrZo_-xJEg6E87L49Y4vQDTwB4BHN8p4VNZsFaY7Vvi1xKg8eCi4L9lh8j8TmYnMVKWXy79P2cMUm4vOfBVwe5BWAXZs0nHy4RyYrWg7IHZI-K5IMM6bVsIcnvbjFeVcH8xDi-jx8j6PmrvMoIEHozw9FEbA1FoyvvveaZ99G5OBbvRaw-TayXhRU-QGSHE5VOMdeWlQhzDXCrlGHDbPIMdxMKZrL8cpjsFM2uWA813beg9PqckTMZ0npAxUHkxpUnKSeyJtGerR9IMOodW8aH5W77NuiVD9sBilVngABxlB24o8YQtZDKv68tZBgSKxMb56YL2s94VxtpaLJhbvcllmEg3Bk9sxAUge7Pf0kIhiK6Dkk8bnYermOsQ5qLyisfrQ6Fz_5RZxhyZzInywNhIlPvfUT_WfoFlsAlIC68lIcR5jdlooCPysh9cnn5JNUCtt0RvJUVTP3_hSqGI9ZkTFmIJy4xx1EmmfJf_zo06qO6aay7eDwQWAxQryH4v_Ss43tte4bzejhE8BWhImCUffurHznxMtSNfOLhJ-5TPVja1Oj5F537NSY22tnNd7lSPKhCr99rbuw5fNrjXOhy1rQzmcXaj8Al9hv2wxTcxN0ibk9TqNQ71XniJTSOM-6uewMGMLTHIakISAWQwpeB1FY8pcSk8GN9twHRJMbTGBWLzYGbUZOp7ZCKzwgmHkym3tzo3Vli2c-DJRfc3RFK3WuYiN8ovGWnThpIlkDxBHwOYqlNq6gTstYWGL-iqR8Vt8ooBOf1bLwBebehtCmGpcCxYM3jlb5yf1a9rzwsdF-1T6foBZGctgO-poFQwUBepBBOaHoisn0mmbweYwI5d0dQM5mAXF4qLoC2ExHwNfNQ=w523-h654-s-no-gm?authuser=0');
    background-size: cover;
    cursor: pointer;
    border: 12px;
    border-top-right-radius: 35px !important;
    border-radius: 6px
}
.overlay{
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.8);
    border-radius: 12px;
    cursor: pointer;
    opacity: 0;
    transition: all 1s;
    border-top-right-radius: 35px !important;
    border-radius: 6px
}
.profile:hover 
.overlay{
    opacity: 1
}
.social-icons{
    display: flex;
    list-style: none;
    bottom: 10px;
    position: absolute;
    text-align: center;
    justify-content: center;
    left: 22px
}
.social-icons li{
    width: 25px;
    height: 25px;
    border: 1px solid #eee;
    padding: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 5px;
    transition: all 1s
}
.social-icons li:hover{
    background:#fff;
    color: #000
}
.overlay .about{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    top:40%;
    color: #fff;
    flex: column;
}
